body {
    -webkit-animation: bgcolor 5s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {

    0% {
        background-color:#F89880
    }

    100% {
        background-color:#FFA62F
    }
}

h1 {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 960px;
    text-align: center;
  }

  h3 {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 960px;
    text-align: center;
  }

  a {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    text-align: center;
  }
  
  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 50px;
    }
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }