* {
    margin: 0;
    box-sizing: border-box;
  }

body {
    -webkit-animation: bgcolor 8s infinite;
    animation: bgcolor 8s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@keyframes bgcolor {

    0% {
        background-color:#F8B88B
    }

    50% {
        background-color:#E8ADAA
    }

    100% {
        background-color:#DCD0FF
    }
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
  }

h1 {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    font-size: 50px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 28px;
    max-width: 960px;
    text-align: center;
  }

  h3 {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 400;
    margin-bottom: 28px;
    max-width: 960px;
    text-align: center;
  }

  a {
    font-family: 'Chivo', sans-serif;
    color: blueviolet;
    text-align: center;
    font-size: 18px;
  }
  

  @media only screen and (max-width: 650px) {
    h1 {
      font-size: 40px;
    }
    .container {
        height: 85vh;
      }
  }